.hero h2 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: normal;
}

@media (min-width:500px) {
 .hero h2 {
  font-size: 4rem;
  letter-spacing: 0.175rem;
 }
}
 
.post-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
} 

.post-card {
  width: 100%;
  margin: 20px auto;
} 

@media (min-width:500px) {
 .post-card-image {
   max-height: 350px;
   width: auto;
   margin-bottom: 30px;
   display: block;
 } 
} 

.post-image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}


@media (min-width:500px) {
 .post-image {
   max-width: 80%;
 } 
} 

#post-widget {
  margin-top: 20px;
}

#post-widget span {
  display: block;
	font-size: 1.2rem;
	color: #666;
	/*margin-bottom: 20px;*/
	line-height: 1.4em;
} 
