---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				<div class="styles">
					<div class="style">
						<img src="{{ site.baseurl }}{{ page.image }}">
					</div>
				</div>		
				{% comment %} include product-styles.html product=page {% endcomment %}
				<div class="product-details" id="add">
					<h3>{{ page.name }}</h3>
					{{ page.description_markdown | markdownify }}

					<h4>&pound;{{ page.price }}</h4>
<div class="button"><a href="{{ page.etsy-link}}" title="View item on our Etsy shop">Buy on Etsy</a></div><br>
					
				</div>
			</div>
		</div>
	</section>
</div>
